[submodule "include/cglm"]
	path = include/cglm
	url = https://github.com/recp/cglm
[submodule "include/cimgui"]
	path = include/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "cimplot"]
	path = cimplot
	url = https://github.com/cimgui/cimplot
[submodule "include/cimplot"]
	path = include/cimplot
	url = https://github.com/cimgui/cimplot
